h1 {
    font-family:sans-serif;
    color: red;
}
.leftbar{
    width: 200px;
    height:1000px;
    float: left;
}
.textgrey{
    color:grey;
    font-family: sans-serif;
}
.card {
    width: 20%;
    float: left;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.474);
    margin-left:10px;
    border-radius: 10px;
    text-align: center;
    color: rgb(118, 118, 118);
}
.gradient {
    background: linear-gradient(90deg,rgba(45,156,219,.6),rgba(155,81,224,.6));
border-radius: 25px;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}